{% extends 'base.html' %} {% block title %}About me{% endblock title %} 
{% block body %}
<div class="card text-bg-dark w-50 mx-auto mt-5">
  <div class="">
    <img
      src="https://images.unsplash.com/photo-1511376777868-611b54f68947?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2dyYW1tZXIlMjBxdW90ZXxlbnwwfHwwfHw%3D"
      class="card-img"
      alt="..."
    />
  </div>
  <div class="card-img-overlay">
    <h5 class="card-title text-warning fs-2">Hello, I am Purva !</h5>
    <p class="card-text fs-4">
      This is a Demo website to apply whatever i learned form Django basics, whole portfolio website is made using Django a popular framework of python specially made to make web development easy.
      besides this I am currently learning Cloud Fundamentals, Cloud Infrastructure and DevOps.
      <br>You can contact me by visiting my contact page through my mail id or by leaving me a message.
      <br>Thank You.☺️
    </p>
  </div>
</div>
{% endblock body %}
